includes:
    - vendor/symplify/phpstan-rules/config/symplify-rules.neon
    - vendor/symplify/phpstan-rules/config/rector-rules.neon

parameters:
    level: 8

    reportUnmatchedIgnoredErrors: false

    # requires exact closure types
    checkMissingCallableSignature: true

    paths:
        - src
        - config
        - rules
        - tests
        - rules-tests

    excludePaths:
        # tests files
        - "*/Expected/*"
        - '*/Fixture/*'
        - '*/Source/*'

    # see https://github.com/rectorphp/type-perfect/
    type_perfect:
        no_mixed: true
        null_over_false: true
        narrow_param: true
        narrow_return: true

    ignoreErrors:
        # php enum value minus
        - '#Parameter \#1 \$phpVersion of method Rector\\Config\\RectorConfig\:\:phpVersion\(\) expects (.*?), (.*?) given#'

        # part of implicit contract
        - '#Call to an undefined method PHPStan\\Type\\ConstantType\:\:getValue\(\)#'

        - '#Calling PHPStan\\Reflection\\Native\\NativeFunctionReflection\:\:getName\(\) is not covered by backward compatibility promise\. The method might change in a minor PHPStan version#'

        - '#Parameter \#3 \$stmt of method Rector\\DowngradePhp72\\Rector\\FuncCall\\DowngradePregUnmatchedAsNullConstantRector\:\:processReplace\(\) expects PhpParser\\Node\\Stmt, PhpParser\\Node given#'

        - '#(.*?)\:\:refactor\(\) should return array<PhpParser\\Node\\Stmt>\|PhpParser\\Node\\Stmt\\ClassConst\|null but returns array<PhpParser\\Node\\Stmt>\|PhpParser\\Node\\Stmt\|null#'

        -
            message: '#Use value object over return of values#'
            path: rules/DowngradePhp80/Rector/Expression/DowngradeThrowExprRector.php

        # phpstan need to load rector nodes first to avoid this
        - '#Rector\\Core\\Contract\\PhpParser\\Node\\StmtsAwareInterface#'
        - '#Access to an undefined property Rector\\Contract\\PhpParser\\Node\\StmtsAwareInterface\:\:\$stmts#'

        -
            message: '#Parameter \#1 \$attributeClass of class Rector\\DowngradePhp80\\ValueObject\\DowngradeAttributeToAnnotation constructor expects class\-string, string given#'
            path: "config/*"

