name: Tests

on:
    pull_request: null
    push:
        branches:
            - main

env:
    # see https://github.com/composer/composer/issues/9368#issuecomment-718112361
    COMPOSER_ROOT_VERSION: "dev-main"

jobs:
    tests:
        strategy:
            matrix:
                php-version: ['8.2', '8.3', '8.4', '8.5']
                os: [ubuntu-latest]
        
        runs-on: ${{ matrix.os }}
        timeout-minutes: 3

        name: PHP ${{ matrix.php-version }} tests (${{ matrix.os }})
        steps:
            -   uses: actions/checkout@v4

            -
                uses: shivammathur/setup-php@v2
                with:
                    php-version: ${{ matrix.php-version }}
                    coverage: none
                    ini-values: zend.assertions=1

            -   uses: "ramsey/composer-install@v2"

            -   run: vendor/bin/phpunit